.userDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    height: 100%;
    max-width: 100%;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    .userTable {
        border: 1px solid #ddd;
        border-radius: 5px;
        width: 100%;
        max-width: 80%;
        overflow-x: auto;
        font-size: 14px;
        font-weight: 500;

        thead {
            background-color: purple;
            color: #fff;
            height: 50px;

            th {
                padding: 10px;
            }

            th:first-child {
                border-top-left-radius: 5px;
            }

            th:last-child {
                border-top-right-radius: 5px;
            }
        }

        tbody {
            tr {
                &:nth-child(even) {
                    background-color: rgba($color: #000000, $alpha: 0.05);
                }

                td {
                    padding: 10px;
                }

                td:first-child {
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                }

                td:last-child {
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                }

                &:hover {
                    background-color: rgba($color: #000000, $alpha: 0.1);
                }
            }
        }
    }
}

.userForm {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 1rem;
    background-color:rgb(54, 142, 236);

    .header {
        display: flex;
        flex-direction: column;
        margin-bottom: 1.25rem;
    }

    .form {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1rem;
    }
}